.datos-usuario input {
    border-radius: 2px;
    padding: 2px 4px;
    margin: 1px 0;
    box-sizing: border-box;
    box-shadow: 0 0 20px gray;

}

.datos-usuario {
    border-radius: 2p;
    height:230px;
    width:600px;
    margin-bottom: 1px;
    text-align: center;
    margin:0px auto;
    border-bottom: 1px solid rgb(153, 145, 145);
}

.du-image {
    grid-area: images;
}

.du-input {
    grid-area: inputs;
}
